<div class="row">
	<div class="col-xs-10">
		<app-shopping-list-edit></app-shopping-list-edit>
		<hr>
		<div class="table-responsive">
			<table class="table table-hover">
        <!-- added async pipe, since our Ingredients are now an observable returned from our state store -->
        <!-- Ingredients is a property of the shoppingListState, see below -->
        <tr *ngFor="let Ingredient of (shoppingListState | async).Ingredients; let i = index" style="cursor: pointer"
        (click)="OnEditItem(i)">
					<td>
						{{ Ingredient.name }}
					</td>
					<td>
						({{ Ingredient.amount }})
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
